/* ----- Universal Styles ----- (All devices regardless of resolution or orientation) */

* {
    box-sizing: border-box;
}

.montserrat-font_family {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

 /* --- Desktop Version Stylings (Devices wider than 600px --- */
  


/* Navigation Box and Styling */
#main_menu {
    background-color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

/* Navigation Links and Style */
#main_menu a {
    color: black;
    padding: 15px;   
    text-decoration: none;
    font-weight: 500;
}

/* On-hover effects for nav links */
#main_menu a:hover {
    background-color: rgb(113, 195, 228, 0.658);
    border-radius: 1.5em;
}

/* Styling for client name and titles */
#name_and_slogan {
    padding: 0em;
}

#logo {
    width: 200px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

#mobile_logo {
    display: none;
}

body {
    background-color: aliceblue;
    background-image: url('Photos and Logo/regal_pattern.png');
    background-size: 50%;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}

/* Biography text, teaching statement text, contact text */
p {
    font-size: 1.25em;
}

/* h3 fonts and all page section headers styling */
.section_headers {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

footer {
    text-align: center;
    background-color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 40px;
    padding-bottom: 5px;
}

#footer_button {
    background-color: rgb(113, 195, 228, 0.658);
    padding: 13px;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
    border-radius: 40px;
}

/* ----- Biography Page ----- */

#biography_contents {
    padding-left: 15%;
    padding-right: 15%;
}

#biography_section {
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: rgba(113, 195, 228, 0.4);
    border-radius: 30px;
    max-width: 1200px;
    content: "";
    clear: both;
    display: table;
}

#bio_pic {
    display: block;
    width: 40%;
    float: left;
    padding-right: 20px;
    border-radius: 40px;
}

#bio_pic_2 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    border-radius: 40px;
}

/* ----- Teaching Page ----- */

#teaching_contents {
    padding-left: 15%;
    padding-right: 15%;
}
    
#teaching_statement {
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: rgba(113, 195, 228, 0.4);
    border-radius: 30px;
    max-width: 1200px;
    content: "";
    clear: both;
    display: table;
}

#teaching_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
    padding-right: 20px;
    border-radius: 40px;
}

/* ----- Contact Page ----- */

#contact_contents {
    padding-left: 15%;
    padding-right: 15%;
}

#contact_section {
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: rgba(113, 195, 228, 0.4);
    border-radius: 30px;
    max-width: 1200px;
    content: "";
    clear: both;
    display: table;
}

#contact_button_container {
    text-align: center;
    margin-bottom: 1.25rem;
}

#contact_button {
    text-align: center;
    background-color: aliceblue;
    border-radius: 40px;
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.25;
}

#contact_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
    padding-left: 20px;
    border-radius: 40px;
}

/* ----- Mobile Styling for Devices Under Specified Width ----- */

@media only screen and (max-width: 768px) {

    #main_menu {
        background-color: aliceblue;
        text-align: center;
        font-size: 1.1rem;
        padding: 1%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 1.5rem;
    }
    
    h1 {
        font-size: 3em;
        text-align: center;
    }
    
    h2 {
        font-size: 1.4em;
        text-align: center;
        font-weight: normal;
    }

    p {
        font-size: 1em;
    }

    /* h3 fonts and all page section headers styling */
    .section_headers {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    }

    #footer_button {
        background-color: rgb(113, 195, 228, 0.658);
        padding: 1rem;
        color: black;
        text-decoration: none;
        font-size: 1.25rem;
        border-radius: 2em;
    }

    #footer_text {
        padding-top: 1em;
    }

    #bio_pic {
        display: black;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 20px;
    }

    #logo {
        display: none;
    }

    #mobile_logo {
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #teaching_pic {
        display: black;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 20px;
    }

    #contact_pic {
        display: black;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 20px;
    }

}
